


@import url('https://fonts.cdnfonts.com/css/classica');




body {
    font-family: 'Classica', sans-serif;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:linear-gradient(#73d376,#ccc);
}



.indexbody{
    display: flex;
}

#questionlabel{
    font-weight: bolder;
    
    margin-right: 20px;

}



.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="text"], input[type="password"], select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}


p {
    text-align: center;
    margin: 10px 0;
    color: #777;
}

#registration_form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

input[type="text"], input[type="password"] {
    width: 50%;
    padding: 10px;
    
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #2852c7;
    color: white;
    padding: 10px 20px;
    border: none;
    
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background-color: #51a3c9;
}

#info-message {
    color: red;
    margin-top: 10px;
}
#info-message.green{
    color: #10c416;;
}
.topics{
    
    text-align: center;
    
}

#pollCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
  
}

.card{
    border-width: 3px;
    border-color: #2852c7;

}
.card:hover{
    background-color: rgb(81, 170, 197);
}



h2{
    text-align: center;
}
#login-form,#registration_form{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
